.cart-container img {
    width: 100%;
    margin-right: 10px;
   
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
}

.cart-item {
    display: flex;
    flex-direction: column; 
    border: 2px solid yellow;
    margin: 5px;
}